.App {
  text-align: center;
}

.App-header {
  color: #e45656fe;
  padding: 15px 0px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration-line: underline;
}

button {
 margin: 5px 4px 5px;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}